body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(25, 16, 61);
  color: #fff;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

section.small {
  max-width: 30rem;
  margin: 0 auto;
}