{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'build/css/global.css' %}">
  <!-- COMPILED FILE -> DO NOT CHANGE THIS FILE BY HAND -->
  <script defer src="{% static 'src/js/ajax.js'%}"></script>
  <script defer src="{% static 'src/js/doubleSlider.js'%}"></script>
  <script defer src="{% static 'src/js/fullSizeGraph.js'%}"></script>
  <script defer src="{% static 'src/js/chordDiagram.js'%}"></script>
  <script defer src="{% static 'src/js/individualInfo.js'%}"></script>
  <script defer src="{% static 'src/js/jobTitleFilter.js'%}"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.2.min.js"></script>
  <title>Webtech</title>
  <link rel="icon" type="image/png" href="{% static 'favicon.png'%}">
</head>

<body>
  <div id="initialOverlay">
    <div id="inputForm">
      <h1>Welcome to Webtech #13</h1>
      <p>Please upload a csv file</p>
      <input type="file" name="csv_data" accept=".csv">
      <br>
      <button onclick="initialGraphCall()">Proceed with this dataset</button>
      <p class="error hidden"></p>
      <p class="info">You can refresh the page at any time to upload a new dataset.</p>
    </div>
  </div>
  <section class="small">
    <p>Filter by time span</p>
    <div class="doubleSlider">
      <div class="handWrap">
        <div class="highlight"></div>
        <div class="leftHand hand"></div>
        <div class="rightHand hand"></div>
      </div>
      <div class="inputWrap">
        <input type="text" class="minValue" readonly>
        <button class="allTimeButton">All Time</button>
        <input type="text" class="maxValue" readonly>
      </div>
      <p>Filter by job title</p>
      <div class="jobTitleWrap"></div>
    </div>
    <button onclick="getFullSizeGraph()">Show Graph</button>
    <!-- <button onclick="getChordDiagram()">Show Chord Diagram</button> -->
    <p id="sizeP" class="hidden">Your file was <strong id="sizeSpan"></strong> bytes!</p>
  </section>
  <div class="mainRow">
    <div class="left">
      <div id="graph_loading" class="loading hidden">
        <div class="inner"></div>
      </div>
      <!-- <iframe class="hidden" id="BaseDataPlot"></iframe> -->
      <div id="BaseDataPlot" class="hidden"></div>
    </div>
    <div class="right hidden">
      <div id="individual_loading" class="loading hidden">
        <div class="inner"></div>
      </div>
      <p id="meta">
        <span class="id"></span>
        <span class="email"></span>
        <span class="job_title"></span>
      </p>
      <table id="individualInfo" class="hidden">
      </table>
      <!-- <iframe class="hidden" id="chordFrame"></iframe> -->
      <div id="chordFrame" class="hidden"></div>
    </div>
  </div>
</body>

</html>
